@tailwind base;
@tailwind components;
@tailwind utilities;


.on{

   background-color: aqua;
   transform: translate(50px);


}
.on{

   background-color: rgb(6, 0, 94);
   transform: translate(0);


}